version: '3.9'

services:
  postgres:
    image: postgres:14
    ports:
      - '${POSTGRES_PORT}:${POSTGRES_PORT}'
    env_file: ./.env.sample
    volumes:
      - ./tmp/pgdata:/var/lib/postgresql/data
    networks:
      - awesome
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

  server:
    container_name: prakticum-server
    image: prackicum-server
    build:
      context: .
      dockerfile: Dockerfile.server
      args:
        SERVER_PORT: ${SERVER_PORT}
        NODE_VERSION: ${NODE_VERSION}
    restart: always
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    env_file: ./.env.sample
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - awesome

  client:
    container_name: prakticum-client
    image: prakticum-client
    build:
      context: .
      dockerfile: Dockerfile.client
      args:
        CLIENT_PORT: ${CLIENT_PORT}
        NODE_VERSION: ${NODE_VERSION}
    restart: always
    ports:
      - '${CLIENT_PORT}:${CLIENT_PORT}'
    env_file: ./.env.sample
    depends_on:
      - server
      - postgres
    networks:
      - awesome

networks:
  awesome:
    driver: bridge
