.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-2);

    &.row {
        flex-direction: row;
    }

    &.pb {
        padding-bottom: var(--g-spacing-4);
    }
}
