.endGame{
  position: relative;
  z-index: 2;
  grid-column: 1/2;
  grid-row: 1/2;
}

.endGame > div{
  background-color: transparent;
}

.endGame__buttons{
    margin: auto;
    display: flex;
    gap: 20px;
}
