@use '../../../app/styles/variables.scss' as *;

.layout {
  min-width: $layout-min-width;
  max-width: $layout-max-width;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--g-spacing-5);
  background-color: var(--g-color-base-background);
  border-left: none;
  border-right: none;

  @media (min-width: $layout-max-width) {
    border-left: 1px solid var(--g-color-base-generic-hover);
    border-right: 1px solid var(--g-color-base-generic-hover);
  }

  &.default {
    justify-content: flex-start;
    padding: var(--g-spacing-5);
    padding-bottom: 0;

    .mainContent {
      justify-content: flex-start;
    }
  }

  &.center {
    justify-content: center;
    padding: 0 var(--g-spacing-5);

    .mainContent {
      justify-content: center;
    }
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.mainContent {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--g-spacing-5);
}

.bottomPanel {
  width: 100%;
  align-self: stretch;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: var(--g-color-base-background);
}
