.leaderboard {
  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 15px;
    &__left {
      display: flex;
      align-items: center;
    }
  }

  &-avatar {
    margin-left: 10px;
    margin-right: 5px;
  }
}

.button-back {
  width: 100%;
  background: var(--Branding-Base-Brand, rgba(255, 190, 92, 1));
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  font-size: 13px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(24, 21, 15, 0.3);
  }
}
