//TODO удалить пример при разработке main page

//Особо можно не запариваться над названиями классов из-за колизий, т.к. используются SCSS модули. 
//Они предотвращают коллизии автоматически, добавляя хеши к названиям классов.
//названия классов пишутся в kebab-case
.main-page {
  padding: 20px;
  background-color: aqua;

  &_warning {
    color: yellow;
  }
}

.button {
  margin-top: 100px;
}

