.avatar-container {
  position: relative;
  cursor: pointer;

  &:hover {

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: rgba(255, 190, 92, 1) url('/avatar/camera.svg') no-repeat center center;
    }
  }
}

.input {
  display: none;
}

