// .startGame > section {
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr;

//   // background-image: url('../../../../public/game/startGame.png');
//   // background-size: contain;
//   // filter: blur(5px);
//   // width: 100%;
//   // height: 400px;
// }

// // .startGame__content {
// //   // width: 100%;
// //   display: flex;
// //   flex-direction: column;
// //   position: relative;
// //   z-index: 2;
// // }

// .background {
//   grid-column: 1/2;
//   grid-row: 1/2;
//   filter: blur(3px);
//   position: relative;
//   z-index: 1;
// }



// .startGame > section > section {
//   grid-column: 1/2;
//   grid-row: 1/2;
//   position: relative;
//   z-index: 2;
// }

// .text {
//   margin: 61px 0;
//   color: #ffffff;
//   border: 1px solid red;
//   // filter: blur(-5px);
// }
// .startGame__buttons {
//   display: flex;
// }

// .startGame__button {
//   position: relative;
//   top: 0;
//   // filter: blur();
//   // grid-column: 1/2;
//   // grid-row: 1/2;
//   // backdrop-filter: blur(5px);
//   // margin: auto;
// }

#startGame > div {
  padding: 0;
  background-image: url('../../../../public/game/startGame.png');
  background-size: contain;
  // filter: blur(5px);
  // position: relative;
  // z-index: 1;
}

.startGame > div > main {
  padding: var(--g-spacing-5);
  background: rgba(255,255,255,.6);
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.text {
  margin: 61px 0;
  color: #ffffff;

}