.layout {
  padding: 0 !important; 
  background-image: url('../../../../public/game/startGame.png');
  background-size: contain;
}

.buttons {
  width: 100%;
  margin-top: auto;
}

.main {
  padding: var(--g-spacing-5);
  background: rgba(255,255,255,.6);
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.text {
  margin: 61px 0;
  color: #ffffff;
}

.textCounter {
  margin: auto;
  color: #ffffff;
}